body{
    background-color: rgb(29, 29, 29);
}

header{
    background-color: rgb(29, 29, 29);
}


nav{
    text-align: right;
    margin-right:5% ;
    font-size: medium;
    margin-bottom: 2%;
}

#tele{
    width: 100px;
    height: 100px;
    text-align: left;
}

#title{
    color: white;
    text-align: center;
    font-size: large;
}

main{
    background-color: rgb(29, 29, 29);
}

#title1{
    margin-top: 2%;
    color: white;
    text-align: center;
    font-size: large;
}

#cartelera{
    margin-left: 10%;
    width: 200px;
    height: 400px;
    text-align: start;
}
#cartelera1{
    text-align: center;
    margin-left: 5%;
    width: 200px;
    height: 400px;
}

#calificaciones{
    color: white;
    text-align: center;
}
#casa{
    margin: auto    ;
    text-align: center;
    color: white;
    font-size: medium;
    border: 2px, white, solid;
    size: 10px;
    width: 170px;
}

#formulario{
    text-align: center;
    color: white;
    border: 1px,white,solid;
    width: 400px;
    height: 470px;
    margin: auto;
    }
#nombre{
    margin-top: 5%;
}

#tabla,th,td{
    border: 1px,white,solid;
    color: white;
}

#contraste{
    background-color: white;
    color: black;
}

#footer{
    color: rgb(20, 20, 20);
}